[alias]
esp32   = "build --release --features esp32   --target xtensa-esp32-none-elf"
esp32s2 = "build --release --features esp32s2 --target xtensa-esp32s2-none-elf"
esp32s3 = "build --release --features esp32s3 --target xtensa-esp32s3-none-elf"
esp32c2 = "build --release --features esp32c2 --target riscv32imc-unknown-none-elf"
esp32c3 = "build --release --features esp32c3 --target riscv32imc-unknown-none-elf"
esp32c5 = "build --release --features esp32c5 --target riscv32imac-unknown-none-elf"
esp32c6 = "build --release --features esp32c6 --target riscv32imac-unknown-none-elf"
esp32c61 = "build --release --features esp32c61 --target riscv32imac-unknown-none-elf"
esp32h2 = "build --release --features esp32h2 --target riscv32imac-unknown-none-elf"
esp32p4 = "build --release --features esp32p4 --target riscv32imafc-unknown-none-elf"

[target.'cfg(target_arch = "riscv32")']
rustflags = [
    "-C", "link-arg=-Tld/loader.x",
    "-C", "link-args=-Map=target/esp-loader.map",
    "-C", "link-args=--nmagic",
]

[target.'cfg(target_arch = "xtensa")']
rustflags = [
    "-C", "linker=rust-lld",
    "-C", "link-arg=-Tld/loader.x"
]

[unstable]
build-std = [ "core" ]
