

[target.'cfg(any(target_arch = "xtensa", target_arch = "riscv32"))']
rustflags = [
    "-C", "link-arg=-Tld/loader.x",
    "-C", "link-args=-Map=target/esp-loader.map",
    "-C", "link-args=--nmagic",
]